<div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block my-lost-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h1 text-gray-900 mb-4">404</h1>
                  </div>
                  <div class="text-center">
                    <h1 class="h6 text-gray-900 mb-4">Page not found</h1>
                  </div>
                  <div class="text-center my-hr">
                    <a class="small" routerLink="/coin">Back to home page!</a>
                  </div>
                  <div class="my-flex-image" *ngIf="secondPassed">
                    <app-author-coin></app-author-coin>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>